.cards{
  max-width: 1024px;
  margin: 10px auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* display: block; */
  /* gap: 10;
  flex-wrap: wrap; */
  ;
}

.card{
  background-color: rgba(228, 228, 228, 0.473);
  color: black;
  width: 300px;
  height: auto;
  /* border: 1px solid rgb(206, 223, 47); */
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column
  ;
  gap: 1px;
  justify-content: center;
  box-shadow: 2px 0px 10px rgba(223, 216, 216, 0.774)
}

.card button{
  border: none;
  font-weight: bold;
  background-color: rgba(206, 223, 47, 0.445);
  padding: 4px;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  top: 0;
  border-radius:  0 0 0px 10px;
}


.boxInput{
  /* margin: 50px auto;
  text-align: center; */
 
}

.boxInput input{
  padding: 10px;
  width:250px;
  border-radius: 50px;
  border: none;
}

.form{
  /* border: 1px solid wheat; */
  padding: 20px;
  width:350px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  gap: 20px;
}

.form button{
  background-color: aqua;
   border: none;
   font-weight: bold;
   border-radius: 10px;
 
}
